@import "config.less";

@boxWidth: 380px;
@imgWidth: 100px;
@color: #4fb375;  //#0078D7
.container{
    padding: 100px 60px;
    .box{
        width: @boxWidth;
        text-align: center;
        padding: 10px 0;
        border: 1px dashed @color;
        position: relative;
        .cont-img{
            position: absolute;
            top: -40px;
            left: (@boxWidth - @imgWidth) / 2;
            width: @imgWidth;
            height: @imgWidth;
            margin: 0 auto;
            border-radius: 100%;
            background-color: @color;
            img{
                width: @imgWidth;
                height: @imgWidth;
            }
        }
        .cont-user{
            margin-top: 50px;
            .nickname{
                padding: 40px 0 20px;
                position: relative; 
                i{
                    font-size: 15px;
                    padding-left: 5px;
                    position: absolute;
                    top: 40px;
                }
            }
            .phone{
                padding-bottom: 15px;
            }
            .introduction{
                font-size: 16px;
                display: inline-block;
                margin-bottom: 40px;
            }
            .row{
                margin: 0;
                padding: 16px 0;
                border-top: 1px dotted #E3E3E3;
            }
            .order{
                margin-top: 5px;
//              border-top: 1px dotted #E3E3E3;
            }
        }
    }
        
        
}
