<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link href="../../static/img/icon.ico" rel="shortcut icon"/>
		<title>主页</title>
		<link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
	</head>

	<body>
		<div class="container-fluid">
			<div class="content-logo row">
				<div class="logo col-md-4">
					<a href="#"></a>
					<img src="../../static/img/logo-tit2.png" style="width: 200px;vertical-align: super;"/>
				</div>
				<form class="form-horizontal col-md-4">
					<div class="input-group">  
				       <input type="text" class="form-control" placeholder="请输入字段名" />  
			            <span class="input-group-btn">  
			               <button class="btn btn-info btn-search">查找</button>  
			            </span>  
					 </div>
				</form>
				<div class="cart col-md-4 text-center">
					<a href="#" class="cart-a">
						<i class="glyphicon glyphicon-shopping-cart icon-cart"></i>
						<span>我的购物车</span>
						<i class="glyphicon glyphicon-chevron-right icon-next"></i>
					</a>						
				</div>
			</div>
		</div>
		<script src="../../static/js/lib/jquery2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/main.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>