<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link href="../../static/img/icon.ico" rel="shortcut icon"/>
		<title>飞鸟商城-主页</title>
		<link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
	</head>

	<body>
		<nav class="navbar navbar-default head navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
					<a class="navbar-brand" href="main.html" target="main">欢迎来到飞鸟商城</a>
					<div class="navbar-brand nav-a">
						<a href="login.html" target="main">请登录 </a>
						<a href="register.html" target="main">免费注册</a>
					</div>
					<div class="navbar-brand user-a undis">
						<a href="user.html" target="main">
							<img src="../../static/img/bird.png" />
							<span id="head-username">
								张三
							</span>
						</a>
					</div>
					<span class="undis navbar-brand" id="err"></span>
				</div>
				<!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="user.html" target="main">个人信息</a>
						</li>
						<li>
							<a href="order.html">我的订单</a>
						</li><li>
							<a href="#" id="logout">退出</a>
						</li>
					</ul>
				<!--</div>-->
			</div>
		</nav>
		<div class="container-fluid main">
			<div class="content-logo row">
				<div class="logo col-md-4">
					<a href="#"></a>
					<img src="../../static/img/logo-tit2.png"/>
				</div>
				<form class="form-horizontal col-md-4">
					<div class="input-group">  
				       <input type="text" class="form-control" placeholder="请输入字段名" />  
			            <span class="input-group-btn">  
			               <button class="btn btn-info btn-search">查找</button>  
			            </span>  
					 </div>
				</form>
				<div class="cart col-md-4 text-center">
					<a href="cart.html" class="cart-a">
						<i class="glyphicon glyphicon-shopping-cart icon-cart"></i>
						<span>我的购物车<span class="badge">2</span></span>
						<i class="glyphicon glyphicon-chevron-right icon-next"></i>
					</a>						
				</div>
			</div>
			<nav class="content-nav row">
				<span class="col-md-2">精选商品分类</span>
				<ul class="clear col-md-10">
					<li class="col-md-2"><a href="">首页</a></li>
					<li class="col-md-2"><a href="">飞鸟手机</a></li>
					<li class="col-md-2"><a href="">平板</a></li>
					<li class="col-md-2"><a href="">笔记本</a></li>
					<li class="col-md-2"><a href="">配件</a></li>
				</ul>
			</nav>
			<div class="content-wares">
				<iframe src="waresDetail.html" width="100%" height="600" frameborder="0" scrolling="no" name="waresDetail" id="waresDetail" onload="iFrameHeight('waresDetail')"></iframe>
			</div>
		</div>
		<script src="../../static/js/lib/jquery2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/head.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/main.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			function iFrameHeight(id) {
			    var ifm= document.getElementById(id);
			    var subWeb = document.frames ? document.frames[id].document :ifm.contentDocument;
			    if(ifm != null && subWeb != null) {
			    ifm.height = subWeb.body.scrollHeight;
			    }
			}
		</script>
	</body>

</html>