<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link href="../../static/img/icon.ico" rel="shortcut icon"/>
		<title>个人中心</title>
		<link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/config.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/user.css" />
	</head>

	<body>
		<div class="container">
			<div class="box">
				<div class="cont-img">
					<img src="../../static/img/bird.png"/>
				</div>
				<div class="cont-user">
					<h1>肥鸟</h1>
					<h4>13641190455</h4>
					<span>买买买，有钱任性。吃吃吃，减肥拜拜</span>
					<div class="row text-left">
						<span class="col-md-6">
							真实姓名：
						</span>
						<span class="col-md-6">
							张三
						</span>
					</div>
				</div>
			</div>
				
		</div>
		<script src="../../static/js/lib/jquery2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/user.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>