<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link href="../../static/img/icon.ico" rel="shortcut icon"/>
		<title>个人中心</title>
		<link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/user.css" />
	</head>

	<body>
		<div class="container">
			<div class="box">
				<div class="cont-img">
					<img src="../../static/img/bird.png"/>
				</div>
				<div class="cont-user">
					<h1 id="nickname" class="nickname">肥鸟<a href="userDetail.html" id="user-detail" title="修改个人信息"><i class="glyphicon glyphicon-pencil"></i></a></h1>
					<h4 id="phone" class="phone">13641190455</h4>
					<span id="introduction" class="introduction">买买买，有钱任性。吃吃吃，减肥拜拜</span>
					<div class="row text-left">
						<span class="col-md-6">
							真实姓名：
						</span>
						<span class="col-md-6" id="username">
							张三
						</span>
					</div>
					<div class="row text-left">
						<span class="col-md-6">
							性别：
						</span>
						<span class="col-md-6" id="gender">
							男
						</span>
					</div>
					<div class="row text-left">
						<span class="col-md-6">
							生日：
						</span>
						<span class="col-md-6" id="birthday">
							1971-01-01
						</span>
					</div>
					<div class="row text-left">
						<span class="col-md-6">
							邮箱：
						</span>
						<span class="col-md-6" id="email">
							1003458499@qq.com
						</span>
					</div>
					<div class="row">
						<div class="col-sm-10">
							<p class="err-prompt" id="err-prompt"></p>
						</div>
					</div>
					<div class="order text-center row">
						<h5 class="col-md-6">订单中心：</h5>
						<span class="col-md-6 text-left"><a href="#">我的订单</a></span>
					</div>
				</div>
			</div>
				
		</div>
		<script src="../../static/js/lib/jquery2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/user.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>