<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link href="../../static/img/icon.ico" rel="shortcut icon"/>
		<title>飞鸟商城-商品详情页</title>
		<link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/waresDetail.css" />
	</head>

	<body>
		<div class="container-fluid wares-detail">
			<ol class="breadcrumb">
			  <li><a href="#">首页</a></li>
			  <li><a href="#">飞鸟手机</a></li>
			  <li class="active">bird1</li>
			</ol>
			<div class="cont-wares row">
				<div class="col-md-5 wares-img">
					<img src="../../static/img/bg3.png"/>
				</div>
				<div class="col-md-7 wares-parameter">
					<h2>高通旗舰处理器飞鸟 Bird 1 至尊手机</h2>
					<ul class="parameter-type">
						<li><span class="type-tit">价格：</span><span class="type-price">￥2999.00</span></li>
						<li><span class="type-tit">领券：</span><span class="full-cut">满200减10</span><span class="full-cut">满500减20</span></li>
						<li><span class="type-tit">积分：</span><span class="">本次消费可获得3599积分</span></li>
					</ul>
					<div class="customer-service margintop">
						<span class="key">客服：</span><span class="value"><i class="glyphicon glyphicon-comment"></i>联系客服</span>
					</div>
					<div class="specifications margintop">
						<span class="key">规格：</span>
					</div>
					<div class="margintop"><span class="key">数量：</span></div>
					<div class="margintop"><span class="key">服务：</span></div>
				</div>
			</div>
		</div>
		<script src="../../static/js/lib/jquery2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/waresDetail.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>